.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px blue;
}
.note{
    font-size: 15px;
    color: black;
}

.copy_right_footer{
    text-shadow:5px 5px 5px grey;
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: lightcyan; 
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px aquamarine;
}